/html/
/build/
*.html
*.o
cereal-test
cert-CTR50
cert-CTR51
cert-CTR52
cert-CTR53
cert-CTR54
cert-CTR55
cert-CTR56
cert-CTR57
cert-CTR58
cert-DCL50
cert-ERR54
cert-ERR59
cert-ERR60
cert-EXP53
cert-EXP60
cert-MEM50
cert-MEM51
cert-MEM52
cert-MEM53
cert-MEM54
cert-MEM55
cert-MEM56
cert-MEM57
cert-STR50
cert-STR51
cert-STR52
cert-STR53
compile_commands.json
dynamic_pointer_cast
lookAndSay
safeComparison
slice
slide
strcat
strcat_s
timeConversion
to_string
